<h1><%= @user.name.capitalize %>'s profile</h1>



<% @user.bookmarks.each do |bookmark|%>
	<% link_to bookmark.Bookmarkname ,bookmark_path(bookmark)%>
	
<% end %>

<%= link_to "Create a bookmark" , new_bookmark_path%>